### Packages

In [20]:
import pandas as pd

### Loading

In [24]:
dataset = pd.read_csv('../data/air_pollution_dataset.csv')
print(dataset.head())

                  date  pollution  dew  temp   press wnd_dir  wnd_spd  snow  \
0  2010-01-02 00:00:00      129.0  -16  -4.0  1020.0      SE     1.79     0
1  2010-01-02 01:00:00      148.0  -15  -4.0  1020.0      SE     2.68     0
2  2010-01-02 02:00:00      159.0  -11  -5.0  1021.0      SE     3.57     0
3  2010-01-02 03:00:00      181.0   -7  -5.0  1022.0      SE     5.36     1
4  2010-01-02 04:00:00      138.0   -7  -5.0  1022.0      SE     6.25     2

   rain
0     0
1     0
2     0
3     0
4     0

#### Checking information

In [25]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43800 entries, 0 to 43799
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       43800 non-null  object
 1   pollution  43800 non-null  float64
 2   dew        43800 non-null  int64
 3   temp       43800 non-null  float64
 4   press      43800 non-null  float64
 5   wnd_dir    43800 non-null  object
 6   wnd_spd    43800 non-null  float64
 7   snow       43800 non-null  int64
 8   rain       43800 non-null  int64
dtypes: float64(4), int64(3), object(2)
memory usage: 3.0+ MB

In [30]:
# Print unique values of the wind direction column
print(dataset['wnd_dir'].unique())

['SE' 'cv' 'NW' 'NE']

#### Checking null values

In [26]:
print(dataset.isnull().sum())

date         0
pollution    0
dew          0
temp         0
press        0
wnd_dir      0
wnd_spd      0
snow         0
rain         0
dtype: int64

#### Description of dataset

In [27]:
dataset.describe()

,pollution,dew,temp,press,wnd_spd,snow,rain
count,43800.000000,43800.000000,43800.000000,43800.000000,43800.000000,43800.000000,43800.000000
mean,94.013516,1.828516,12.459041,1016.447306,23.894307,0.052763,0.195023
std,92.252276,14.429326,12.193384,10.271411,50.022729,0.760582,1.416247
min,0.000000,-40.000000,-19.000000,991.000000,0.450000,0.000000,0.000000
25%,24.000000,-10.000000,2.000000,1008.000000,1.790000,0.000000,0.000000
50%,68.000000,2.000000,14.000000,1016.000000,5.370000,0.000000,0.000000
75%,132.250000,15.000000,23.000000,1025.000000,21.910000,0.000000,0.000000
max,994.000000,28.000000,42.000000,1046.000000,585.600000,27.000000,36.000000